body {
	font-family: 'Cardo', serif;
	font-size: 20px;
}

h1 { 
	font-size: 400%; 
}

.container { 
	width: 100%; 
	margin-left: 20px; 
	display:inline-table; 
	
}
.colorContainer { 
	width: 100%;
	height: 35%; 
	display:inline-table;
	margin: 0;  
	
}

.smallContainer { 
	margin: 50px;
	width: 50%; 
}

.bgGreen {
	margin-top: 0px; 
	padding: 60px;
	background-color: #3FB29C;
	color: white;
	text-align: center;
}


.bgBlue {
	margin-top: 0px; 
	padding: 60px;
	background-color: #334FA6;
	color: white;
	text-align: center;
}

.left-column { 
	height:15px; 
	width:40%;
}

.right-column { 
	height:100px; 
	width: 30%; 
	float: right;
}

input { 
width: 40%; }



